*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #8EDC9D;
    color:#473E3F;
}
header{
    
}
.head-container{
    margin-bottom: 100px;
   
}
#myimage{
    padding: 10px 10px;
    margin: 10px 10px;
    float: left;
    width: 12%;
}

.myname{
    padding: 10px 10px;
    margin: 10px 770px 10px 10px;
    float: left;
    line-height: 0.5rem;
    font-size: 1.5rem;
}

.myContacts{
    
  
    padding-top: 20px;
    margin: 10px 5px 10px 10px;
    float: none;
    line-height: 0.5rem;
    font-size: 1rem;
}

#seweb{
    text-decoration: none;
}

hr{
    padding: 3px 0px;
    margin: 10px 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.about{
    margin-bottom: 100px;
}
.about h2{
    
    padding: 10px 10px;
    margin: 30px 30px 10px 10px;
    font-size: 1.5rem;
    color: #EF7126;
   
}
.description{
    float: right;
    padding: 0px 100px 10px 0px;
    font-size: large;
    color:#473E3F ;
    font-weight: 700;
}
.hobbies{
    margin-bottom: 200px;
}
.hobbies-word{
    padding: 10px 10px;
    margin: 30px 30px 10px 10px;
    font-size: 1.5rem;
    color: #EF7126;
}
.hobbies-container{
    float: right;
    padding: 0px 140px 10px 0px;
    margin-right: 900px;

}
.hobbies-item{
    padding: 10px 10px;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}